.direct-messages {
}

.direct-messages-divider {
  border-bottom: 2px solid #4a4a4d;
  width: 40px;
  margin: auto;
}

.direct-messages-selected {
  width: 4px;
  height: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #fff;
  position: absolute;
}

.direct-messages-header {
  background: #313338;
  /* padding: 8px 0px; */
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: space-between;
}

.direct-messages-conversations {
  display: flex;
  align-items: center;
  background: #2b2d31;
}

.direct-messages-conversations-input {
  padding: 12px;
  border-bottom: 1px solid #1e1f22;
}

.direct-messages-conversations-input > input {
  background: #1e1f22;
  color: #949ba4;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  padding: 4px 24px 4px 8px;
}

.dm-header-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dm-header-icons > * + * {
  margin-left: 16px;
}

.dm-header-icons:last-child {
  margin-right: 16px;
}

.dm-header-icons > svg {
  cursor: pointer;
}

.dm-header-icons-search {
  background: #1e1f22;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}

.dm-header-icons-search > input {
  width: 140px;
  background: transparent;
  border: none;
  color: gray;
  padding: 2px 0px 2px 12px;
  font-size: 14px;
}

.dm-header-icons-search > input:focus {
  outline: none;
}
