.direct-messages {
}

.direct-messages-divider {
  border-bottom: 2px solid #4a4a4d;
  width: 40px;
  margin: auto;
}

.direct-messages-selected {
  width: 4px;
  height: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #fff;
  position: absolute;
}
