.color-white {
  color: white;
}

.size-xs {
  font-size: 12px;
}

.size-sm {
  font-size: 14px;
}

.size-base {
  font-size: 16px;
}

.size-md {
  font-size: 20px;
}

.size-lg {
  font-size: 24px;
}

.size-xl {
  font-size: 28px;
}

.help-text {
  font-size: 14px;
  color: #848992;
}
