.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #313338;
  width: 52px;
  height: 52px;
  margin: 12px 12px;
}

.avatar-xs {
  width: 16px;
  height: 16px;
}

.avatar-sm {
  width: 24px;
  height: 24px;
}

.avatar-md {
  width: 32px;
  height: 32px;
}

.avatar-lg {
  width: 42px;
  height: 42px;
}

.avatar-selected {
  border-radius: 30% !important;
  background-color: #5865f2 !important;
}

.avatar-container-selected {
  box-shadow: 4px 0px 0px gray inset !important;
}

.avatar-hovering {
  width: 4px;
  height: 25px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #fff;
  position: absolute;
}

.avatar-non-interactable-container {
  display: flex;
  align-items: center;
}

.avatar-non-interactable-container > * + * {
  margin-right: 8px;
}

.avatar-non-interactable {
  border: 1px solid gray;
}
